################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReceiptAnalyzer.Functions/.vs/ReceiptAnalyzer.Functions/v16/Server/sqlite3
