################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ReceiptAnalyzer.Functions/.vs/ReceiptAnalyzer.Functions/v16/Server/sqlite3
ReceiptAnalyzer.Functions/.vs/ReceiptAnalyzer.Functions/v16/Server/sqlite3/storage.ide
ReceiptAnalyzer.Functions/.vs/ReceiptAnalyzer.Functions/v16/Server/sqlite3/storage.ide-shm
ReceiptAnalyzer.Functions/.vs/ReceiptAnalyzer.Functions/v16/Server/sqlite3/storage.ide-wal
