<form class="receipt-form">
    <div class="form-group">
        <label for="store">Nazwa sklepu</label>
        <select id="store" name="store" [(ngModel)]="receiptData.store" class="form-control w-50">
            <option></option>
            <option *ngFor="let store of stores" >{{store?.StoreName}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="receiptDate">Data paragonu</label>
        <input type="date" id="receiptDate" name="shoppingDate" [(ngModel)]="receiptData.shoppingDate" class="form-control w-50"/>
    </div>
    <div class="form-group">
        <label for="totalAmount">Wartość paragonu</label>
        <input type="number" id="totalAmount" name="totalAmount" [(ngModel)]="receiptData.totalAmount" class="form-control w-50"/>
    </div>
    <div class="">
        <label for="items">Produkty</label>
        <ul class="list-group">
            <li *ngFor="let itm of receiptData.items"  class="list-group-item list-group-item-light d-flex px-0">                
                 <input type="text" name="productName" [ngModelOptions]="{standalone:true}"  [(ngModel)]="itm.productName" class="form-control mr-1"/>
                 <input type="number" name="productsQuantity" [ngModelOptions]="{standalone:true}"  [(ngModel)]="itm.productsQuantity" class="form-control quantity-control mr-1"/>
                <input type="number" name="productPrice" [ngModelOptions]="{standalone:true}"  [(ngModel)]="itm.productPrice" class="form-control totalAmount-control mr-1"/>
                <select name="productCategory" [ngModelOptions]="{standalone:true}" [compareWith]="categoryComparer" [(ngModel)]="itm.productCategory" class="form-control ">
                    <option></option>
                    <option *ngFor="let category of productCategories" [ngValue]="category">{{category.CategoryName}}</option>
                </select>
            </li>
        </ul>
    </div>
</form>