<div class="d-flex justify-content-center">
  <div class="d-flex flex-row">
    <app-image-preview [imageFile]="file"></app-image-preview>
    <app-recognized-text [ocrResult]="ocrResult"></app-recognized-text>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div>
    <label for="fileBrowser" class="btn btn-info mr-1">Wybierz plik</label>
    <input type="file" accept="image/jpeg, image/bmp, image/gif, image/png"
      (change)="onFileSelected($event.target.files[0]);" id="fileBrowser" class="d-none">
    <label class="btn btn-success" [class.disabled]="!file" (click)="onSubmit()">Procesuj</label>
    <div>
      {{file?.name}}
    </div>
  </div>
</div>
<div class="d-flex justify-content-center">
  <app-receipt-form></app-receipt-form>
</div>

