<div class="container d-flex justify-content-center">
  <div>
    <div class="image-box">
      <img [src]="selectedImage" *ngIf="selectedImage">
    </div>
    <div>
      <label for="fileBrowser" class="btn btn-info mr-1">Wybierz plik</label>
      <input type="file" accept="image/jpeg, image/bmp, image/gif, image/png" (change)="onFileSelected($event.target.files[0]);" id="fileBrowser"
        class="d-none">
      <label class="btn btn-success">Procesuj</label>
      <div>
        {{file?.name}}
      </div>
    </div>
  </div>
</div>
