<div class="box">
    <ul class="list-group" style="width:622px;">
        <li class="list-group-item list-group-item-action list-group-item-light 
                    m-1 d-flex justify-content-between buttons-visible">
            <div class="cursor-default" >PARAGON FISKALNY</div>
            <div class="">
                <span class="fas fa-calendar-alt mr-3 buttons-hidden"></span>
                <span class="fas fa-store-alt mr-3 buttons-hidden"></span>
                <span class="fas fa-dollar-sign mr-3 buttons-hidden"></span>
                <span class="fas fa-plus mr-3 buttons-hidden"></span>
                <span class="fas fa-list buttons-hidden"></span>
            </div>
        </li>
    </ul>

</div>
<!-- *ngFor="let line of ocrResult.lines" -->