<div class="box">
    <ul class="list-group" style="width:622px;">
        <li class="list-group-item list-group-item-action list-group-item-light 
                    m-1 d-flex justify-content-between ">
            <span style="cursor: default;">PARAGON FISKALNY</span>
            <span>
                <span class="fas fa-calendar-alt pr-3"></span>
                <span class="fas fa-store-alt pr-3"></span>
                <span class="fas fa-dollar-sign pr-3"></span>
                <span class="fas fa-list"></span>
            </span>
        </li>
    </ul>

</div>
<!-- *ngFor="let line of ocrResult.lines" -->