<div class="container">
  <div class="row my-sm-1">
    <div class="col-lg-5 col-sm-12 mb-2">
      <app-image-preview [imageFile]="file"></app-image-preview>
    </div>
    <div class="col-lg-7 col-sm-12">
      <app-recognized-text [ocrResult]="ocrResult"></app-recognized-text>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-5 col-sm-10 my-5">
      <label for="fileBrowser" class="btn btn-info mr-1">Wybierz plik</label>
      <input type="file" accept="image/jpeg, image/bmp, image/gif, image/png"
        (change)="onFileSelected($event.target.files[0]);" id="fileBrowser" class="d-none">
      <label class="btn btn-success" [ngClass]="{'disabled': !file}" (click)="onSubmit()">Procesuj</label>
      <div>
        {{file?.name}}
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-12">
      <app-receipt-form [formUpdatingProgress]="formUpdatingProgress"
      [spellCheckSuggestions]="spellCheckSuggestions"></app-receipt-form>
  </div>
</div>

</div>

